
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
  }

/*Utilzei medidas como EM para maior responsividade*/

 .main {
    /*position: relative;*/
    background-color: #f4f4f4;
  } 
.Image{
  width: 30%;
    margin-bottom: 0;
    margin-right: 0;
    z-index: -1;
    height: auto;
    background-color: aqua;
    position: absolute;
    right: 0;
    bottom: 0;
}

.sidebar { /*IMPORTANTE, SUBSTITUIR OS VALORES POR em ou rem*/
    height: 90%;
    width: 56px;
    background-color:#649FBF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: absolute; /*Mude para fixed para tornar a sidebar fixa*/
}

.faixa-branca {
  background-color: #fff;
  margin-top: 45px;
  height: 41px;
}

.ant-menu {
  color: #4FA1C1;
  background-color: transparent;
  height: 60%;
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .ant-menu-item {
  color: #4FA1C1;
  background-color: #f4f4f4;
  font-size: 30px;
  width: 32px;
  height: 35px;
  margin-top: 24px;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.ant-menu-item ant-menu-item-selected {
  border-left: 50px solid #fff;
  transition: none;
  transform: none;
}

.ant-menu-tite-content {
  transition: none;
  transform: none;
}

.sidebar-aviso{
  width: 80%; 
    height: 55px;
    /*top: 24px;*/
    margin-left: 7em;
    margin-top: 25px;
    /*transform: translateX(-50%);*/
    border-radius: 20px;
    background-color: #4FA1C1;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 28px;
    box-sizing: border-box;
}

.aviso {
    width: 80%; 
    height: 55px;
    /*top: 24px;*/
    margin-left: 7em;
    margin-top: 170px;
    /*transform: translateX(-50%);*/
    border-radius: 20px;
    background-color: #4FA1C1;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 28px;
    box-sizing: border-box;
}

/*Início parte passos*/
.container-itens {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  margin-left: 8em;
  margin-top: 10px;
}
.icones1 {
  width: 64px; /*ou 64px*/
    height: 64px;
    border-radius: 20px;
    /*border: 2px solid transparent;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #649FBF;
    z-index: 2;
    position: relative;
}
.icones2{
  background-color: #4FA1C1;
}
.tracejado {
  width: 80%;
  height: 0px;
  border-top: 4px dashed #649FBF;
  background-color: #fff;
  transform: rotate(0deg);
  /*margin-bottom: 20px;*/
  margin-left: 210px;
  margin-right: 200px;
  /*margin-right: 20px;*/
  margin-top: 70px;
  z-index: 1;
  position: absolute;
}

/*.div-completa {
  width: 80%;
  margin-left: 8em;
  margin-top: 10px;
  display: flex;
  background-color: #f4f4f4;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}*/

.ant-steps-item-title {
  background-color: #fff;
  color: #649FBF !important;
  position: absolute;
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 5px;
  z-index: 2;
}

.ant-steps-item-container {
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.ant-steps-item-content {
  background-color: #fff; /*Teste*/
  display: none;
  margin: 0;
  
}

.ant-steps-item.ant-steps-item-wait.ant-steps-item-custom{
  background-color: #fff;
}

.ant-steps-item-title::after {
  background-color: #fff;
}
/*Fim parte passos*/

.card {
  position: absolute;
  margin-top: 190px;
  margin-left: 125px;
  width: 480px;
  padding: 30px;
  gap: 32px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.text-card {
  background-color: #fff;
  color: #898989;
}

.img-vector {
  background-color: #fff;
  margin-top: 25px;
  margin-left: 4px;
}

/*Formulário*/

.card-formulario {
  margin-left: 770px;
  margin-right: 20px;
  margin-top: 190px;
  background-color: #fff;
  position: relative;
 /* flex-direction: column;*/
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /*display: inline-block;*/
  z-index: 5;
  width: 40%;
  margin-bottom: 50px;
  height: 744px;
}
.card-formulario2 {
  margin-left: 770px;
  margin-right: 20px;
  margin-top: 190px;
  background-color: #fff;
  flex-direction: row;
  position: relative;
 /* flex-direction: column;*/
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /*display: inline-block;*/
  z-index: 5;
  width: 50%;
  margin-bottom: 50px;
  height: 84%; /*height: 744px;*/
  display: inline-block;
}

.titulo{ /*IMPORTANTE fazer a media query do titulo*/
    
    width: 100%;
    height: 56px;
    padding: 18px;
    border-radius: 20px 20px 0px 0px;
    background-color: #649FBF;
    color: #FFFFFF;
    font-size: 28px;
    /*display: flex;
    align-items: center;*/
}

.principal-form {
  display: flex;
  height: auto;
}

.add-funcionario{
  width: 95%;
  height: 66px;
  border: 1px solid var(--Default, #649FBF);
  color: #649FBF;
  background-color: transparent;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons {
margin-top: 10px;
margin-left: 20px;
background-color: #fff;
display: flex;
}

.btn1 {
  width: 192px;
  height: 36px;
  border-radius: 10px;
  font-size: 14px;
  color: #649FBF;
  border: 1px solid var(--Default, #649FBF);
  background-color: transparent;
}

.btn2 {
  width: 192px;
  height: 36px;
  margin-left: 24px;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid #959595;
  color: #959595;
  background-color: transparent;
}

.ativos {
  color: #000;
  background-color: #fff;
  color: #3A3A3A;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: auto;
}

/*Funcionário*/

.card-funcionario{
  width: 714px;
  height: 95px;
  margin-right: 20px;
  padding: 10px, 40px;
  margin: 24px;
  border-radius: 10px;
  background-color: #e4ecf4;
  position: relative;
}

.user-details{
display: flex;
}

.user-name {
  font-size: 24px;
  margin-left: 20px;
  margin-top: 10px;
  color: #707070;
}

.user-cpf, .user-status, .user-cargo {
  border-radius: 10px;
  margin: 20px;
  background-color: #649FBF;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 24px;
}

.barra{
display: flex;
position: absolute;
align-items: center;
justify-content: center;
background-color: #649FBF;
top: 0;
right: 0;
height: 95px;
width: 48px;
margin-bottom: 100px;
border-radius: 0px 10px 10px 0px;
}

.tres-pontos {
color: #fff;
font-size: 30px;
cursor: pointer;
margin-bottom: 10px;
}

.exib-cards {
  display: flex; /* Garante o empilhamento dos componentes */
  flex-direction: column;
  gap: 10px;
}

.switch-check{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
    justify-content: end;
    justify-content: flex-end;
    flex-direction: row;
    /*margin-top: 10px;*/
    margin-right: 20px;
    align-self: flex-end;
}

.text-check{
  margin-top: 8px;
  margin-right: 10px;
}

.prox-passo{
  width: 30%;
  height: 50px;
  margin-left: 1335px;
  
  display: inline-block;
  position: absolute;
}

.proximo-btn{
  background-color: #649FBF;
  color: #fff;
  border-radius: 10px;
  border-color: #649FBF;
  margin-top: 20px;
  width: 194px;
  height: 32px;
}

.proximo-btn.disabled {
  background-color: #71716F;
  border-color: #71716F; /* Cinza claro */
  color: #fff;
  
}

.funcionario-ativo{
  width: 95%;
  height: 44px;
  border: 1px solid var(--Default, #649FBF);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: transparent;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.p-funcionario{
  display: flex-start;
  font-weight: bold;
  margin-left: 20px;
  justify-content: baseline;
}

.div1{
  display: flex;
  gap: 10px;
  height: 80px;
}
/*.div2{
  display: flex;
  gap: 10px;
}*/

.info-funcionario {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px;
  height: 275px;
  border: 1px solid var(--Default, #649FBF);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.teste-input{
  margin-top: 0px;
  gap: 0;
}

.input-form {
  width: 300px;
  height: 36px;
  margin-top: 5px;
  border-radius: 10px;
  
}
.input-form2{
  width: 240px;
  height: 32px;
  margin-top: 8px;
  border-radius: 5px; 
  border: 1px solid var(--Default, #d9d9d9);
  
}

.teste{
  flex-direction: column;
  margin-top: 25px;
  margin-left: 12px;
}

.p-info{
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}
.p-info2{
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
}

.select-s{
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.activated{
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
}

.check-epi{
  margin-top: 5px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid var(--Default, #649FBF);
}

.epi2{
  display: flex;
  margin-top: 10px;
}

.epi2, p{
  margin-left: 5px;
}

.card-atividade{
  border: 1px solid var(--Default, #649FBF);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.epi-ca {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  gap: 20px
}

.epi-select{
  flex-direction: column;
}

.title-epi{
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.atv-drop{
}

.select-ativ{
  margin-bottom: 5px;
  font-weight: bold;
}

.ant-checkbox-input{
  margin-right: 5px;
}

.btn-epi{
  height: 36px;
  width: 140px;
  border-radius: 10px;
  margin-left: 30px;
  border: 1px solid var(--Default, #649FBF);
  color: #649FBF;
  background-color: transparent;
}
.btn-add-atv{
  width: 97%;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid var(--Default, #649FBF);
  color: #649FBF;
  background-color: transparent;
}

.add-document {
margin: 20px;
border-radius: 10px; 
background-color: transparent;
border: 1px solid var(--Default, #649FBF);
}

.document-sections {
  margin: 10px;
}

.btn-salvar {
  width: 95%;
  height: 36px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px; 
  background-color: transparent;
  color: #649FBF;
  border: 1px solid var(--Default, #649FBF);
}

.back-button{
  background-color: transparent;
  padding-right: 10px;
}

.btn-epi-excl{
  width: 20px;
  height: 20px;
}

@media (max-width: 1366px) and (max-height: 768px) {
  .card-funcionario {
    width: 550px;
    height: 95px;
    /*margin-right: 10px;*/
     /* Corrigido o formato do padding */
    margin: 20px;
    border-radius: 10px;
    background-color: #e4ecf4;
    position: relative;
  }

  .card-formulario {
    margin-left: 770px;
    margin-right: 20px;
    margin-top: 190px;
    background-color: #fff;
    position: relative;
   /* flex-direction: column;*/
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /*display: inline-block;*/
    z-index: 5;
    width: 45%;
    margin-bottom: 50px;
    height: 630px;
  }

  .prox-passo{
    width: 30%;
    height: 50px;
    margin-left: 1135px;
    display: inline-block;
    position: absolute;
  }
  
  .card-formulario2 {
    margin-left: 670px;
    margin-right: 20px;
    margin-top: 190px;
    background-color: #fff;
    flex-direction: row;
    position: relative;
   /* flex-direction: column;*/
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /*display: inline-block;*/
    z-index: 5;
    width: 50%;
    margin-bottom: 50px;
    height: 84%; /*height: 744px;*/
    display: inline-block;
  }
  
  
}